

.footer_top{
    padding: 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 130px;
    border-bottom: 1px solid lightgrey;
}

h3{
    color: #163A24;
    font-family: Recoleta;
    font-size: 28px;
}

.footer_buttom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 130px; 
}
.footer_buttom p{
    color: #163A24;
    font-family: sans-serif;
    font-size: 14px;
}

.p2 span{
font-family: sans-serif;
color: #198C36;
}